.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container .logo img {
    height: 96px;
}

.login-form {
    width: 480px;
}




